@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

* {
  margin: 0;
  font-family: 'Mochiy Pop One', sans-serif;
}

a {
  text-decoration: none;
}

.header-wrapper {
  background-color: rgb(239, 179, 59);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px
}

.dummy-logo {
  background-color: rgb(0, 229, 255);
  height: 50px;
  width: 50px
}
.header-text {
  padding: 5px
}

.header-right {
  display: flex;
  align-items: center;
}
.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-space {
  font-size: 42px;
  margin: 0 10px 0 10px
}

.content {
  display: flex;
  flex-direction: row;
}

.city-content {
  display: flex;
  flex-direction: row;
}

.cities-container {
  background-color:rgb(0, 229, 255);
  width: 33.35%;
}

.cities-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border: 5px solid blue;
  border-radius: 20px;
  width: 80%;;
}

.nav-image {
  margin: 0px 10px;
}

.city-container {
  background-color: rgb(153, 153, 229);
  width: 66.65%
}

.post-container {
  background-color: rgb(153, 153, 229);
  width: 66.65%;
}

.post-content {
  display: flex;
  flex: row;
  width: 100%;
}
.new-post-button {
  border-style: solid;
  border-radius: 50px;
  background-color: orangered;
} 

.new-post-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.new-post-container {
  background-color: rgb(153, 153, 229);
  width: 66.65%
}

.edit-post-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.edit-post-container {
  background-color: rgb(153, 153, 229);
  width: 66.65%
}

.posts-header {
  display: flex; 
  justify-content: space-between;
}

.posts {
  display: flex;
  flex-direction: column; 
}

.city-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 0;
}

.hidden {
  display: none;
}

#modal {
  /* position relative and absolute */
  background-color: blue;
  position: absolute;
  z-index: 1;
  width: 63%;
  height: 13%;
  top: 27%;
  margin: 1px;
}

input + span {
  position: relative;
}

input + span::before {
  position: absolute;
  right: -20px;
  top: 5px;
}

input:invalid {
  border: 2px solid red;
}

input:invalid + span::before {
  content: '✖';
  color: red;
}

input:valid + span::before {
  content: '✓';
  color: green;
}